/* styles/8-places.css */

.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places h1 {
  font-size: 30px;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

/* The Article (The Envelope) */
.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  position: relative; /* This acts as the anchor for the price tag */
}

.places article h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
}

/* The Price Tag (The Postage Stamp) */
.price_by_night {
  color: #FF5A5F;
  border: 4px solid #FF5A5F;
  border-radius: 50%; /* This turns the square into a perfect circle */
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* The Information Section Container */
.information {
  height: 80px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Spreads the three boxes evenly */
}

/* Styling the three icon boxes */
.max_guest, .number_rooms, .number_bathrooms {
  width: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 40px; /* Pushes the text down so it doesn't touch the icon */
}

/* Attaching the specific background images */
.max_guest {
  background-image: url('../images/icon_group.png');
}

.number_rooms {
  background-image: url('../images/icon_bed.png');
}

.number_bathrooms {
  background-image: url('../images/icon_bath.png');
}

/* The User and Description Sections */
.user {
  margin-top: 20px;
  font-size: 16px;
}

.description {
  margin-top: 10px;
  font-size: 14px;
}
